:root {
    --blue: #6e44ff;
    --indigo: #b892ff;
    --lavendar: #ffcbe6;
    --pink: #ff90b3;
    --coral: #ef7a85;

    --logo-color: #ef7a85;
    --background: #b892ff;
    --buttons: var(--pink);
    --buttons-hover: var(--indigo);
    --font: var(--lavendar)
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: var(--logo-color);
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--logo-color);
    }

}

/* Most browsers */
@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: var(--logo-color);
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--logo-color);
    }

}

#title-svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}